/* 
* Javascript Slideshow
*/
#slider
{
	position: relative;
	margin: 0 auto;
	padding: 0;
}
#slideshow
{
	position: relative;
	display: none;
}
#slideshow IMG
{
	display: none;
}
.slider-item
{
	width: 100% !important;
	max-width: 100% !important;
}
.slider-item .content
{
	padding: 30px 0 0;
	position: relative;
}
.slider-item A
{
	outline: none;
}
#slider-controls-wrapper
{
	padding: 20px 0;
	display: none;
}
#slider-controls
{
	display: block;
	text-align: center;
}
#slider-controls UL
{
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: center;
}
#slider-controls UL LI
{
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}
#slider-controls UL LI A
{
	width: 17px;
	height: 17px;
	background: url('images/inactive-slide.png') no-repeat center center;
	display: inline-block;
	padding: 0;
	margin: 0;
	outline: none;
}
#slider-controls UL LI A:focus
{
	outline: none;
}
#slider-controls UL LI.activeSlide A:hover, #slider-controls UL LI.activeSlide A
{
	background: url('images/active-slide.png') no-repeat center center;
}
/* 
* Slideshow Typography
*/
#slideshow H2
{
	margin: 0 0 10px;
	color: #222222;
	font-size: 30px;
	font-weight: bold;
}